.board-tabs {
  display: flex;
}

.tab {
  padding: 0 1rem;
  border-left: 1px solid black;
  align-items: center;
  margin-top: auto;
  cursor: pointer;
}

.tab:first-child {
  border-left: 0;
}

.tab:last-child {
  border-right: 1px solid black;
}
