.create-task-panel {
	color: white;
	display: flex;
	flex-direction: column;
	position: fixed;
	padding: 1rem;
	top: 0;
	right: 0;
	width: 33.3%;
	max-width: 940px;
	height: 100vh;
	background-color: #454545;
	z-index: 1000;
	box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
}

.create-task-panel .header {
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.create-task-panel .content {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	gap: 1rem;
}

.create-task-panel .footer {
	/* абсолютное позиционирование */
	position: absolute;
	/* прижимаем блок к нижней границе относительно блока с position: relative*/
	bottom: 0;
	width: 100%;
	/* margin-top: auto; */
}
